

a { 
    text-decoration: none; color: white;
}

#header {
    margin:0px;
    background-color: #ac7c7c;
    text-transform: uppercase;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
       }

#Accueil {
    color:white
}

.box1 {
        margin-left: 80px;
    }
    

.titre1 {
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
    font-size:5em;
    text-align:center;
    color:white;
    height: 2px;
}
   

.soustitre {
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin:0px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none; color: black;
    display: flex;
    flex-direction: column;
}

nav {
     margin:3px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

nav p {
    margin-right: 100px;
}

.panneau {
    padding: 100px;
    background-color: #ffe8e8;
    background-image:url(../img/home.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation {
    padding: 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 5;
}



.intro {
    display: flex;
    justify-content: space-between;
    
 }   

.imageintro{
    padding: 60px;
    height: 280px;
    margin:90px;
    position : relative;
    top : 55px;
    display: flex; 
    flex-grow: 1;
    justify-content: space-between;
}

.para  {
    margin-left: 110px;
    height: 40px;
    padding: 40px;
    font-size: 18px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    text-align: justify;
} 

.title{
    margin-left: 110px;
    font-size: 40px;
    height: 1px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    text-align: justify;

}

.title1
{
    font-weight:normal;
    font-size: 40px;
    text-align:center;


}

.pitch {
    font-weight:normal;
    font-size: 20px;
    text-align: center;
}


.container1
{
    margin: auto;
    padding: 40px;
    position: relative;
    text-align: center;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.a-img-text {
    display: grid;
}

.a-img {
    grid-area: 1/1/-1/-1;
	transform: scale(1);
	transition: .3s ease-in-out;
}

.a-img:hover {
    transform: scale(1.2);
}

.a-text { 
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.container2
{
    padding: 40px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.box {
    width: 400px;
    height: 300px;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.footer{
    margin-top: 150px;
    padding: 30px;
    white-space: nowrap;
    color: white;
    background-color: #cfa7a7;
    background-position: bottom;
    background-size: cover;
    text-align: center;
    opacity:0.8;

}

.Contact {
    margin-top:30px ;
    color: white;
}

.Contact:hover {
    color: #ac7c7c;
}

.pieds {
    padding: 3px;
    font-size: 15px;
    background-color: #ac7c7c;
    text-align: center;
    display:flex;
    justify-content: center;
}

#paragraphe {
    font-size: 18px;
}

span {
    font-size: 18px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 2px;
    padding: 12px;
}

.text2020 {
    color:white;
}



.boxarticle1 { 
    margin-top: -40px;
    width: 70%;
    display: flex;
    flex-direction: column;
   
}
.categorie {
    margin-top: -40px;
    font-size:25px;
}

.fontsizegamme {
    font-size: 40px;
    font-weight:normal;

}

.imgsize {
    height: 400px;
    width: 600px;
}

.Textarticle1 {
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 20px;
    font-weight:normal;
    height: 400px;
    width: 600px;
    text-align: justify;

}

.containerprincipale {
    display: flex;
    padding: 150px;

}



.containerimagesproduits {
  width: 30%;
}


.boximagesproduits img {
width: 60%;
margin-bottom: 40px;
transform: scale(1);
transition: .3s ease-in-out;
}

.boximagesproduits img:hover {

    transform: scale(1.2);
}

img {
    padding: 9px;
}

.containermentionslegales {

    width: 70%;
    display: flex;
    flex-direction: column;
}

.boxmentionslegales {
    display: flex;
    flex-direction: column;
}

.textarticlementionslegales {
    margin-left: 160px;
    height: 600px;
    width: 600px;
    margin-top: 70px;
    margin-bottom: 600px;
    text-align: justify;
    font-size: 20px;
    font-weight:normal;
}
